.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
  }
  
  .repo-name {
    font-size: 1.25rem;
    color: #006699;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .repo-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
  }
  
  .repo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
  
    .language {
      background-color: #caecff;
      border-radius: 6px;
      padding: 2px 6px;
      font-size: 0.8rem;
      color: #444;
    }
  
    .stars {
      font-size: 0.9rem;
      font-weight: bold;
      color: #333;
    }
  }
  
  .repo-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #006699;
    color: white;
    text-decoration: none;
    // border-radius: 4px;
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;
  
    &:hover {
      background-color: #f0a500;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }