// @use "/src/styles/variables";
// @use "/src/styles/mixins";
@use "/src/styles/index";

.collapse{
    display:flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: #FDEADA;
    max-width: 1100px;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    border-radius: 10px;
    min-height: 40px;
    height: auto;
    margin: 0 auto;
    font-size: inherit;
    &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background-color:  #f0a500;
        color: #006699;
        border-radius: 10px;
        font-weight: 700;
        font-size: clamp(13px, 1.8vw, 18px);
        padding: 10px 10px;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 12px;     
            }
        }
        .arrow_up{
            transform: rotate(0deg);
        }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        font-size: clamp(12px, 1.8vw, 18px);
        color: black; 
        background-color: #F6F6F6;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.accomodation_collapse{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 20px auto;
    width: 100%;
    &_item{
        width: 50%;
    }
    @media screen and (max-width: 650px){
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        margin: 20px auto;
        &_item{
            width: 100%;
        }    
    }
}
