@use "/src/styles/index";

.about_main_collapse {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1023px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  padding: 0 20px;
}

.about_main {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding-bottom: 0;
  height: min-content;
  // object-fit: cover;
  &_collapse {
    margin: 20px auto;
    max-width: 1023px;
    // @media screen and (max-width: 550px) {
    //   margin: 20px auto;
    // }
  }
}

// .about_Container {
//     display: flex;
//     flex-direction: column;
//     gap: 1em;
//    height: min-content;
//   }
