@use "/src/styles/index";
@use "/src/styles/utilities";
@use "/src/styles/variables";

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 0;
  // min-height: calc(100vh - 320px);
}

.errorTitle {
  margin: 0;
  font-size: 2em;
  font-weight: 150;
  color: #dc3545;
}

.errorMessage {
  font-size: 1.3em;
  text-align: center;
  color: #dc3545;
  // font-weight: 300;
}

.errorRedirection {
  color: black;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
}
