.projetPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9fafb;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

.description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

.owner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;

  img.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  a {
    color: #006699;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1rem;
      color: #555;
      margin: 5px 0;

      strong {
        color: #111;
      }
    }
  }
}

.links {
  text-align: center;
  margin-bottom: 20px;

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006699;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color:#f0a500;
      
    }
  }
}

.topics {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .topic {
      background-color: #caecff;
      color: #444;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 0.9rem;
      cursor: pointer;
      &:hover {
        background-color:#006699;
        color: #fff;
      }
    }
    
  }

  p {
    font-size: 1rem;
    color: #555;
    text-align: center;
  }
}

.error {
  padding: 20px;
  text-align: center;
  color: red;
}